body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color:rgb(63, 35, 35);
    padding: 50;
}

header {
    background: rgb(70, 74, 96);
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}


.logo {
    display: flex;
    justify-content: flex-end; 
    
}


.logo img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    border-color: black;
    border-width: 100vw;
}

.otherpages nav ul li {
    margin-right: 20px;
    align-content: right;
    top:0%
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 100px;
}

header nav ul li a {
    color: #fff;
    text-decoration:dashed;
}

#background-video {
    position:relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.USP {
    position:absolute;
    bottom:0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color:antiquewhite
   
}
.intro{
    padding: 20px;
    background:#ccc;
    margin-bottom: 10px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* .effects{
    padding: 20px;
    background:#faf7f7;
    margin-bottom: 10px;
    text-align: center;
    margin-block: 40px;
  
} */

/* .benefits {
    padding: 20px;
    background:#faf7f7;
    margin-bottom: 10px;
    text-align: center;
   
    */
/* } */



.social-proof {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #8f9dd3;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.testimonials {
    font-size: 18px;
    font-family:'normal', cursive;
    color: #333;
    padding: 20px;
}

.testimonials blockquote {
    margin-bottom: 20px;
}

.testimonials person {
    font-size: 15px;
    color: #666;
    font-style: normal;
}
  
.cta button {
    padding: 10px 20px;
    background: #4f5a80;
    color: #dbc6c6;
    border: none;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    align-content: center;
}

.contact-info p {
    margin-top: 10px;
    align-items: center;
}

